/******* modal.css *******/
.homeModal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    overflow: hidden;
    left:0;
    top: 0;
    background-color: rgba(0,0,0,0.6)
}

.modalConfirmation {
    color: white;
    font-size: 2rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

.modal-font {
    font-size: 1.5rem;
}

.btn {

}