/******* summaryPage.css *******/
html{
    font-size: 62.5%;
}

div>i.nav-icon-size{
    font-size: 5.6rem;
}
.event-contain{
    border-bottom: 1px solid #64b5f6;
    height: 3vh;
}
div.s2.event-contain{
    justify-content: flex-end;
}
.event-font{
    color: #546e7a;
    font-size: 1.5rem;
}
.event-title{
    font-size: 1.5rem;
    color: #90a4ae;
    margin-bottom: 0;
}
.event-card {
    padding: 0;
    border-radius: 0 0 2px 2px;
}
.btn-confirm{
    width: 80%;
}
.map-container {
    height: 100%;
}
.nav-contain {
    height: calc(100vh - 318px);
}
.route-container {
    padding: 5px;
}
.address-line{
    margin: 0;
}

.legend-img {
    width: 38px;
    height: 38px;
}

/*SPINNER taken from Alan Shortis via code pen*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: .25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
    animation: spin 750ms infinite linear;
}

/******* Media breakpoints *******/
/*medium and up*/
@media only screen and (min-width: 601px) {
    .nav-contain {
        height: calc(100vh - 326px);
    }
    .row .col.marker {
        padding-top: 1.5%;
    }
}
/******* iPhone 4 *******/
@media only screen and (max-width: 320px) {
    .card {
        margin: 0.5rem 0 .2rem 0;
    }
    .nav-contain {
        height: calc(100vh - 246px);
    }
    .event-title {
        font-size: .5rem;
    }
    .event-font {
        font-size: 1rem;
    }
    .legend-img {
        width: 28px;
        height: 28px;
    }
}

