/******* home.css *******/
.full-page{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
}
.splash-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("../../assets/images/couple.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
}
.gradient{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(45deg, rgba(41,147,225,.8), rgba(157,197,246,.6));
}

.home-btn {
    font-size: 3.4vmax;
    margin-top: 30px;
    text-transform: initial;
    background-color: rgba(0,0,0,0);
    border: 2px solid;
    width: 45vmin;
    height: 9vmax;
    line-height: 9vmax;
    border-radius: 5px;
}
.home-btn:hover{
    background-color: #ffc107;
}
.home-btn:focus{
    background-color: #ff8f00;
}
.center-page{
    display: flex;
    flex-flow: column;
    align-items: center;
}


/*small only*/
@media screen and (max-width: 600px) {
    .full-page {
        min-height: calc(100vh - 56px);
    }
}

/*medium and up*/
@media only screen and (min-width: 601px) {
    .center-page {
        padding: 30px;
    }
}