.row-height-75 {
    height: 75vh;
}
.container {
    background-color: #ffc107;
    width: 100%;
}

.hero-image {
    display:flex;
    justify-content: center;
    margin-top: 140px
}
.hero-image-container {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
}

.need-ideas {
    margin-top: 10px;
}

.get-started-button {
    font-size: .4em;
    margin-top: 30px;
    text-transform: initial;
}

.top-phones {
    margin-left: 30px;
}

.bottom-phones-container {
    display:flex;
    justify-content:center;
    margin-top: 70px;
}
.bottom-phones {
    display: none;
    margin-bottom: 70px;
}

/* Custom Breakpoint for index */
@media (max-width: 740px) {
    .top-phones {
        display: none !important;
    }
    .hero-image {
        margin-top: 60px;
    }
    .bottom-phones {
        display: initial !important;
    }
}