/* choose-location */

.transparent-input {
    /*background-color: transparent !important;*/
    border: 2px solid #fff;
    font-size: 2em;
    padding: 0;
}
.transparent-input input {
    font-size: 1.2em !important;
    border-bottom: none !important;
    box-shadow: none !important;
    width: 150px !important;
    text-align: center;
}

/*::placeholder {*/
    /*color: lightgrey;*/
    /*opacity: 1;*/
/*}*/

.text-align-center {
    text-align: center;
}

.zip-code {
    margin-top: 60px;
    font-size: 1.5em;
    color: black;
}

.location-page-row {
    height: 75vh;
}

.date-location {
    font-size: 1.6em;
    margin-bottom: 5%;
}

.location-page-input {
    width: 200px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-100 {
    margin-top: 100px;
}

.advanced-options {
    text-transform: uppercase;
}

.go {
    padding: 0 40px;
    font-size: 1.4em;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

/*maybe delete this class*/
.location-page-container {
    height: 91.54vh;
    width: 100vw;
    /*background-color: #ffc107;*/
}

.goButtonContainer {
    margin-top: 5%;
    margin-bottom: 5%;
}

.inputText {
    font-size: 2rem !important;
    color: grey;
}

.card-title.grey-text.zipText {
    font-size: 1.4rem;
    line-height: 16px;
}
