.row.valign-wrapper{
    margin-bottom: 0;
}

div.row {
    margin-bottom: 0;
}

.location-info-group{
    margin-top: 2vh;
}

.bottom-pad{
    padding: 1vh 0;
}

.thin-btn{
    height: 21px;
    line-height: 21px;
}

.content-list{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.flow{
    display: block;
}
.slide .left-align p {
    font-size: 1.3em;
    margin: 5px 0;
}
.truncate {
    margin-bottom: 11px;
}
.card-content.no-pad{
    padding: 0;
}
.my-8{
    margin: 8px 0;
}
.card .card-action {
    padding: 4px;
}
span.card-title {
    line-height: 20px;
    font-size: 2rem;
    text-align: center;
}
.card .card-content .card-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
.temp-width {
    margin: auto;
    width: 66% !important;
}