/* Datennight Theme */
p {
    margin: .5rem 0;
}
h5 {
    margin-top: 0;
}
h4 {
    margin-bottom: 0;
    margin-top: .75rem;
}
.last:hover,
.next:hover,
.btn:hover {
    cursor: pointer;
}
.btn-large {
    border-radius: 5px !important;
    letter-spacing: .7px !important;
}
.nav-wrapper {
    text-transform: uppercase !important;
}


/* Responsive Media Queries Below From Materialize*/
/* Small Breakpoint and Up */
@media (min-width: 600px) {

}

/* Large Breakpoint and Up */
@media (min-width: 992px) {
    .logoImg {
        margin-left: 20px;
    }
}

/* XL Breakpoint and Up */
@media (min-width: 1200px) {

}