/******* navBar.css *******/
nav .brand-logo {
    font-family: "le-monde-livre-classic-std-s",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    width: 225px;
}
.side-nav.right-aligned{
    transition-timing-function: ease-out;
    transition-duration: 0.25s;
}

.arrow{
    float: left;
    margin-left: 5vw;
}

.hide-on-med-and-down {
    text-transform: uppercase;   
}
.hide-on-med-and-down li a {
    font-size: 1.4em;   
}
.drag-target {
    width: 100%;
}
.logo-img {
    height: 36px;
    width: auto;
    position: absolute;
    left: 0;
    top: 20%;
}


@media only screen and (min-width: 992px) {
    nav .brand-logo {
        margin-left: 30px;
    }

    nav .hide-on-med-and-down {
        margin-right: 30px;
    }
}

