#title{
    height: 9vh;
}

#title h1{
    margin: 2vh auto;
    box-sizing: border-box;
    font-size: 6rem;
}
@media screen and (min-width: 993px){
    .responsive-img{
        height: 43vh !important;
    }
}
